 {
	"page.page.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0110\u0103ng b\u1edfi",
				"element": "_itemauthor"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "ng\u00e0y",
				"date_format": "%d %B %Y",
				"custom_format": "%d %B %Y.",
				"element": "_itemcreated"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "- ",
				"single_comment_text": "%s B\u00ecnh lu\u1eadn",
				"multiple_comments_text": "%s B\u00ecnh lu\u1eadn",
				"no_comments_text": "H\u00e3y l\u00e0 ng\u01b0\u1eddi \u0111\u1ea7u ti\u00ean b\u00ecnh lu\u1eadn!",
				"element": "_itemcommentslink"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "43aa1b15-986e-4303-afcf-628b835f10e5"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "",
					"1": "",
					"2": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "cc6ecc77-5598-4ee5-8bb3-cd0b47c6aa52"
			}
		}
	},
	"page.page.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "43aa1b15-986e-4303-afcf-628b835f10e5"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "6cb20a9f-27fa-4d98-ac2e-e959eb3f0f63"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			}
		}
	},
	"page.page-2.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Written by",
				"element": "_itemauthor"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "on",
				"date_format": "%d %B %Y",
				"custom_format": "%d %B %Y.",
				"element": "_itemcreated"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "- ",
				"single_comment_text": "%s Comment",
				"multiple_comments_text": "%s Comments",
				"no_comments_text": "No Comments",
				"element": "_itemcommentslink"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "0",
				"element": "1015c6fe-74d5-4d50-b9df-cf1c3fe1ab88"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div class=\"uk-margin\">%s<\/div>]",
				"display": "all",
				"element": "97aadaef-fc53-44ca-aef3-54ec48faaeaf"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Date",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemmodified"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"page.page-2.edit":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "97aadaef-fc53-44ca-aef3-54ec48faaeaf"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "1015c6fe-74d5-4d50-b9df-cf1c3fe1ab88"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		},
		"administration":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemsearchable"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemfrontpage"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemstate"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			}
		}
	}
}