 {
	"name": "T\u00e1c gi\u1ea3",
	"elements":  {
		"438ab2da-a715-4c8d-ad3d-28d056aced1f":  {
			"name": "T\u00ean th\u00e2\u0323t",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"17414f94-2fe5-40dd-b006-2eb12322fb5b":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/epub-library\/authors\/",
			"max_upload_size": "2048",
			"type": "image"
		},
		"2994648a-c963-4351-9cb1-6c874c787431":  {
			"name": "Nga\u0300y sinh",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"9b49b9ac-2e16-4594-9d19-478ff1014a21":  {
			"name": "Nga\u0300y m\u00e2\u0301t",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"49b3364b-9404-42b8-95fa-852218e61801":  {
			"name": "N\u01a1i sinh",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"97999e20-85a3-43f3-b32a-7ff619ee3761":  {
			"name": "N\u01a1i m\u1ea5t",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5d781ac1-f2cb-412a-b1c2-908781180a30":  {
			"name": "Ti\u00ea\u0309u s\u01b0\u0309 - S\u1ef1 nghi\u1ec7p",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"65f1e002-59d3-4710-9690-b8685cb4aa81":  {
			"name": "C\u00f4ng vi\u00ea\u0323c",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"18b5a3ef-ea7f-42f2-9f99-c5548bd2054f":  {
			"name": "Websites",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"380325d1-b7af-41ec-adcd-b29a8b02d46f":  {
			"name": "Ca\u0301c th\u00ea\u0309 loa\u0323i sa\u0301ng ta\u0301c",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"type": "relatedcategories"
		},
		"75c55a0c-4460-4463-8e1c-2525ac4fbc13":  {
			"name": "Ca\u0301c ta\u0301c ph\u00e2\u0309m",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "tac-pham"
			},
			"type": "relateditems"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}