 {
	"name": "T\u00e1c ph\u1ea9m",
	"elements":  {
		"2d996e13-d800-4ac2-9ff4-c7bb17622745":  {
			"name": "Gi\u1edbi thi\u1ec7u chung",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"84202d33-adbc-4a87-9113-fb286416ee4f":  {
			"name": "T\u00ean g\u00f4\u0301c",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"c57cb1d8-2195-43e8-a1f6-bfee0c025973":  {
			"name": "Ng\u00f4n ng\u01b0\u0303",
			"description": "",
			"access": "1",
			"default": "",
			"option":  {
				"0":  {
					"name": "Ti\u00ea\u0301ng Vi\u00ea\u0323t",
					"value": "tieng-viet"
				},
				"1":  {
					"name": "Ti\u00ea\u0301ng Anh",
					"value": "tieng-anh"
				},
				"2":  {
					"name": "Ti\u00ea\u0301ng Trung",
					"value": "tieng-trung"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"252d93a7-e9d3-40f9-b56d-155faf1faa10":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"77132b90-fe4f-40a1-963f-4e8c8749a55d":  {
			"name": "Ng\u01b0\u01a1\u0300i di\u0323ch",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"f808f10a-b32d-4350-9e2c-26329877979d":  {
			"name": "N\u0103m xu\u00e2\u0301t ba\u0309n",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"0081b1b9-23c7-4e9d-aacb-c2caa3b2adb5":  {
			"name": "S\u00f4\u0301 ch\u01b0\u01a1ng",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8a57c3e5-8e00-4ae9-b3da-7d844af9ab9e":  {
			"name": "Ta\u0301c gia\u0309",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "tac-gia"
			},
			"type": "relateditems"
		},
		"5955ce16-9453-4ee5-b2b4-edb148ceb5fb":  {
			"name": "Cu\u0300ng Ta\u0301c gia\u0309",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "tac-gia"
			},
			"type": "relateditems"
		},
		"5c0566bd-581c-4404-8947-c621d98b39df":  {
			"name": "N\u00f4\u0323i dung",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"84cc9780-390e-4b50-92df-df2f4c15d35f":  {
			"name": "Rating",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"8c504b3c-6667-4f5b-8aae-e84ffd33e083":  {
			"name": "Ta\u0309i sa\u0301ch \u0111\u1ecbnh d\u1ea1ng prc:",
			"description": "",
			"access": "2",
			"repeatable": "0",
			"default_target": "1",
			"add_protocol": "1",
			"type": "link"
		},
		"4c16262a-2080-4d3d-ba85-82e4c629065b":  {
			"name": "Ta\u0309i sa\u0301ch \u0111\u1ecbnh d\u1ea1ng ePub:",
			"description": "",
			"access": "2",
			"repeatable": "0",
			"default_target": "1",
			"add_protocol": "1",
			"type": "link"
		},
		"284cc0f3-b896-4ddd-a9d4-80b1e60fa4eb":  {
			"name": "Ta\u0309i sa\u0301ch \u0111\u1ecbnh d\u1ea1ng kh\u00e1c:",
			"description": "",
			"access": "2",
			"repeatable": "1",
			"default_target": "1",
			"add_protocol": "1",
			"type": "link"
		},
		"7a7d8dfc-ab72-4b62-b31a-3dd01922606c":  {
			"name": "Chia s\u1ebb",
			"description": "Chia s\u1ebb tr\u00ean M\u1ea1ng x\u00e3 h\u1ed9i",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "1",
			"type": "socialbuttons"
		},
		"10e89dd6-3fc0-469d-b201-6e3cfe6a6ce6":  {
			"name": "Social Bookmarks",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"technorati": "1",
			"yahoo": "1",
			"delicious": "1",
			"stumbleupon": "1",
			"digg": "1",
			"facebook": "1",
			"reddit": "1",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1",
			"type": "socialbookmarks"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}