 {
	"name": "Author (Copy)",
	"elements":  {
		"16ce6ac3-9ce1-4adf-be06-d60f5c35987a":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"4e295b97-67d4-4a38-956c-0d7d4458478a":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"2b47c696-5064-45de-85d6-789184ba3101":  {
			"name": "E-Mail",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "email"
		},
		"d3187fcd-0a63-47ae-9a58-dd3986546a47":  {
			"name": "Website",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"6b5e7381-9a9c-4eac-9c53-2371a41b4e1f":  {
			"name": "Article",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "article"
			},
			"type": "relateditems"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}