 {
	"name": "B\u00e0i vi\u1ebft",
	"elements":  {
		"40688269-065d-4473-ab36-ff71cfdefd87":  {
			"name": "Date",
			"description": "Date",
			"access": "1",
			"repeatable": "1",
			"type": "date"
		},
		"e4067f49-9001-4cee-b908-5271d82750b0":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "author"
			},
			"type": "relateditems"
		},
		"c702a311-8ce7-44ed-8fa8-bb8fb7114229":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"a1c33456-8b49-47e5-b39a-563208a03d5e":  {
			"name": "Text",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"345ade3c-de40-4316-a8fd-ff0079075613":  {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"bbc40307-943d-4524-bf44-317883ef4976":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"eeb2342c-aaa3-40ef-b60b-a86b975d951f":  {
			"name": "Media",
			"description": "Media",
			"access": "1",
			"directory": "images\/stories",
			"defaultwidth": "",
			"defaultheight": "",
			"defaultautoplay": "0",
			"type": "media"
		},
		"ffdf5630-533c-4ac2-b8a5-6b43b8d46615":  {
			"name": "Related Articles",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "article"
			},
			"type": "relateditems"
		},
		"f29a8e8b-86b8-4ddf-82b9-dbda941d5a38":  {
			"name": "External Related Articles",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"2904d4c9-3bad-429a-82f9-5d9842ce353f":  {
			"name": "Social Buttons",
			"description": "",
			"access": "1",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}